@page
@model ChumBoxModel
@{
}
<div id="content">
<h1>Chum Box</h1>
<a href="https://en.wikipedia.org/wiki/Chum_box" target="_blank">https://en.wikipedia.org/wiki/Chum_box</a>
<hr/>
<dl><dt>ChumBox</dt>
<dd><p>A <strong>Chum box</strong> (or <em>chumbucket</em>) is a format of <a title="Online advertising" href="https://en.wikipedia.org/wiki/Online_advertising">Online advertising</a> that uses a grid of thumbnails and captions to drive traffic to other sites and webpages. This form of advertising is often associated with low quality '<a title="Clickbait" href="https://en.wikipedia.org/wiki/Clickbait">clickbait</a>' links and articles.</p></dd>
</dl>
<p>The term derives from fishing terms such as <a title="Chumming" href="https://en.wikipedia.org/wiki/Chumming">chumming</a> &ndash; referring to the use of (fish) meat as a lure for fish.</p>

<h2>Contents</h2>
<ul>
<li><a href="#Overview">Overview</a></li>
<li><a href="#See_also">See also</a></li>
<li><a href="#References">References</a></li>
<li><a href="#External_links">External links</a></li>
</ul>

<h2><span id="Overview">Overview</span></h2>
<img src="https://upload.wikimedia.org/wikipedia/en/c/ca/Chum_box_example_cnn.png" align="right"/>
<p>'Chumboxes' became very common during the 2010s &ndash; they are often presented to the reader as additional reading intended, and use headings such as <em>"around the web"</em> and <em>"you might like"</em>. The use of chumboxes became common on many mainstream websites, inlcuding those of <a title="CNN" href="https://en.wikipedia.org/wiki/CNN">CNN</a>, <a title="Fox News" href="https://en.wikipedia.org/wiki/Fox_News">Fox News</a>, <a title="MSNBC" href="https://en.wikipedia.org/wiki/MSNBC">MSNBC</a>, <a title="USA Today" href="https://en.wikipedia.org/wiki/USA_Today">USA Today</a>, and others.<sup>[1]</sup></p>
<p>Providers of this content included [1]</sup> Casey Newton (<a title="The Verge" href="https://en.wikipedia.org/wiki/The_Verge">The Verge</a>) concluded that the ad format was likely to be short lived, similar to schemes such as <a title="Groupon" href="https://en.wikipedia.org/wiki/Groupon">Groupon</a>; though clickthrough on such ads was in the single digit percentage region (compared to 0.1% for <a title="Banner ad" href="https://en.wikipedia.org/wiki/Banner_ad">banner ads</a>), this figure was comparable to that early experienced by banner ads &ndash; he expected that as with banner ads, users would eventually come to learn of the low utility of such links, and eventually avoid them.<sup>[1]</sup></p>
<p>By the late mid 2010s</span><sup>[<em><span title="This passage needs to be better explained. (August 2018)">clarify</span></em>]</sup> some internet websites were re-thinking the use of "chumboxes" due to the negative impact such low quality links and content had on their brand, despite the additional income from such links.<sup>[2]</sup> An analysis of images used in advertising of the kind found that 26% used sexually suggestive or "interruptive" images; often the ads had no relation to the article content, and on occasions were innapropiate or offensive, such as one entitled <em>"Meet the Women Making Rape Jokes That Are Actually Funny"</em> place under an article about teenage rape.<sup>[2]</sup></p>
<p>A report by <em>changeadvertising.org</em> that analysed 50 high rank news sites, found over 80% were using such ads, the majority from Taboola or Outbrain &ndash; many were found to be confusing or misleading in their purpose.<sup>[3]</a></sup></p>
<p>An analysis of images and headlines used in such adverts found a number of basic archetypes used &ndash; these included&nbsp;: a sexy image in association with location based adverisment; reverse aging (skin) treatment based, or 'miracle cure'; body shock images (eg triggering <a title="Trypophobia" href="https://en.wikipedia.org/wiki/Trypophobia">Trypophobia</a> etc); celebrity gossip based; tatoo based images, including those simulating body horror/orifices; images of pills; and weight loss.<sup>[4]</sup><sup>[5]</sup></p>


<h2><span id="See_also">See also</span></h2>
<ul><li><a href="One weird trick advertisements">One weird trick advertisements</a></li></ul>

<h2><span id="References">References</span></h2>
<ol>
<li><em>Newton, Casey (22 Apr 2014), <a href="https://www.theverge.com/2014/4/22/5639892/how-weaponized-clickbait-took-over-the-web">"You might also like this story about weaponized clickbait"</a>, www.theverge.com</em></li>
<li><em>Maheshwari, Sapna; Herrman, John (30 Oct 2016), <a href="https://www.nytimes.com/2016/10/31/business/media/publishers-rethink-outbrain-taboola-ads.html?_r=0">"Publishers Are Rethinking Those 'Around the Web' Ads"</a>, www.nytimes.com</em></li>
<li><em><a href="http://changeadvertising.org/the-clickbait-report/">"The Clickbait Report"</a>, changeadvertising.org, 2016</em></li>
<li><em>Mahoney, John (4 June 2015), <a href="https://www.theawl.com/2015/06/a-complete-taxonomy-of-internet-chum/">"A Complete Taxonomy of Internet Chum"</a>, www.theawl.com</em></li>
<li><em><a href="https://www.cbc.ca/radio/spark/330-reality-isn-t-real-utopia-is-creepy-1.3792237/diving-into-internet-chum-yes-it-s-as-bad-as-you-d-expect-1.3794213">"Diving into internet "chum?" Yes, it's as bad as you'd expect."</a>, CBC News, 7 October 2016</em></li>
</ol>

<h2><span id="External_links">External links</span></h2>
<ul><li><a href="https://zenap.se/tjanster/marknadsforing/">Zenap Strengthens Your Business With Thoughtful Marketing</a></li></ul>
</div>