@page
@model StickyContentModel
@{
}
<h1>Sticky content</h1>
<a href="https://en.wikipedia.org/wiki/Sticky_content" target="_blank">https://en.wikipedia.org/wiki/Sticky_content</a>
<hr/>

<p>Sticky content refers to content published on a website, which has the purpose of getting users to return to that particular website or hold their attention and get them to spend longer periods of time on this site.[1] Webmasters use this method to build up a community of returning visitors to a website.</p>
<p>Sticky content includes chat room, online forum, Webmail, Internet games, weather, news, horoscopes, and many other features.</p>

<p>Sticky content is also sometimes called sticky tools or sticky gear. Websites featuring sticky content are often referred to as sticky sites. 
</p>

<h2>See also</h2>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Attention_economy">Attention economy</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Clickbait">Clickbait</a></li>
</ul>
<h2>References</h2>
<ol><li>Kominers, Scott Duke. <a href="https://pdfs.semanticscholar.org/fbae/0cd4b37c73aefbe5d07ddd420db16b0660fa.pdf">"Sticky content and the structure of the commercial web."</a> In 2009 Workshop on the Economics of Networks. 2009.</li></ol>