@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="col-md-12">
    <div class="col-md-6">
        <hr/>
        <p>Collectibles are tracked in our database, Just visit the Collectibles/Manufacturers page and provide us the details, we will keep a note of them. </p>
    </div>
    <div class="col-md-6">
        <img src="https://sep.yimg.com/ay/matrixcollectibles/avengers-age-of-ultron-cosbaby-collectible-set-of-3-pre-order-3.gif" alt="Collectibles" height="80%" width="80%"/>
    </div>
</div>
